interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.mapy.cz/v1/rgeocode?lon=16.6085958&lat=49.1948039&lang=en
  response:
    body:
      string: "{\"items\":[{\"name\":\"Freedom Square 74/10\",\"label\":\"Address\",\"position\":{\"lon\":16.60891,\"lat\":49.19466},\"type\":\"regional.address\",\"location\":\"Brno-m\u011Bsto,
        Czechia\",\"regionalStructure\":[{\"name\":\"74/10\",\"type\":\"regional.address\"},{\"name\":\"Freedom
        Square\",\"type\":\"regional.street\"},{\"name\":\"Brno-m\u011Bsto\",\"type\":\"regional.municipality_part\"},{\"name\":\"Brno-st\u0159ed\",\"type\":\"regional.municipality_part\"},{\"name\":\"Brno\",\"type\":\"regional.municipality\"},{\"name\":\"Brno-City
        District\",\"type\":\"regional.region\"},{\"name\":\"South Moravian Region\",\"type\":\"regional.region\"},{\"name\":\"Czechia\",\"type\":\"regional.country\",\"isoCode\":\"CZ\"}],\"zip\":\"602
        00\"}]}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
