interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.mapy.cz/v1/routing/route?start=14.4000936%2C50.0898689&end=16.6085958%2C49.1948039&routeType=car_fast_traffic&avoid_toll=false
  response:
    body:
      string: '{"length":211731,"duration":7311,"geometry":{"type":"Feature","geometry":{"type":"LineString","coordinates":[[14.399967,50.089177],[14.400551,50.08913],[14.400955,50.08909],[14.401153,50.089061],[14.401306,50.089056],[14.401458,50.08905],[14.401602,50.08905],[14.401997,50.089067],[14.402096,50.0886],[14.402294,50.088577],[14.402357,50.087839],[14.402509,50.087776],[14.402608,50.087764],[14.403866,50.087701],[14.403785,50.087488],[14.403749,50.087298],[14.40374,50.087154],[14.403767,50.087044],[14.403794,50.086981],[14.403893,50.08675],[14.404099,50.086243],[14.404216,50.08592],[14.404225,50.085816],[1[...]
